ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==2.1.2
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.18.0
opencv-python==3.4.2.17
opencv-contrib-python==3.4.2.17
# scikit-learn==0.19.1
scikit-learn
scipy==1.4.1
bleach==1.5.0
tensorboard==1.15.0
tensorflow-estimator==1.15.0
# tensorflow-gpu==1.15.0
psutil==5.4.5
# h5py==2.7.1
tqdm==4.48.2
torch==1.0.1.post2
torchvision==0.2.1
Pillow==9.0.1
seaborn==0.9.0
setuptools==41.0.0
